html,
body {
  width: 100%;
  margin: 0;
}

body {
  padding: 0;
  background-color: #40353b;
}

div.caption {
  width: 100%;
  text-align: center;
  color: #b3958a;
  padding-top: 20px;
}

div.footer {
  width: 100%;
  text-align: center;
  color: #b3958a;
  margin:0;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

canvas {
  margin:0;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

a:link {
  color: #c3d2d9;
}

a:visited {
  color: #759bb2;
}

a:hover {
  color: #dfdde0;
}

a:active {
  color: #c3d2d9;
} 